{% extends "product/index.html" %}



{% block content%}

<div class="row">
  <div class="col-8">
    <nav>
      <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-1-tab" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Frasi H</a>
        <a class="nav-item nav-link" id="nav-2-tab" data-toggle="tab" href="#nav-2" role="tab" aria-controls="nav-2" aria-selected="false">Frasi P</a>
        </div>
    </nav>
  </div>
</div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">

      <table class="table table-bordered">
        <thead class="table-active">
          <th>Codice</th>
          <th colspan="3">Descrizione</th>
          <th> <a class="btn btn-primary" href="create_h" role="button">Crea</a> </th>
          <th></th>
        </thead>
        <tbody>
          {% for h in frasi_h%}
            <tr>
              <td>{{h.code}}</td>
              <td colspan="3">{{h.description}}</td>
              <td class="p-0">
                <button class="btn" style="padding:0; color:blue;"> <a href="item/{{h.id}}/h_update" class="text-secondary"><div class="mt-2 pt-1 mr-1 ml-2">
                  <span class="material-icons">create</span></div>
                </a></button>
              </td>
              <td class="p-0">
                <form action="{% url 'delete_h' pk=h.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn" type="submit" style="padding:0; color:red;"><div class="mt-2 pt-1 mr-1 ml-2">
                  <span class="material-icons">delete</span></div></button>
                </form>
              </td>
            </tr>
          {%endfor%}
        </tbody>
      </table>

  </div>
  <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab">

    <table class="table table-bordered">
        <thead class="table-active">
          <th>Codice</th>
          <th>Descrizione</th>
          <th> <a class="btn btn-primary" href="create_p" role="button">Crea</a> </th>
          <th></th>
        </thead>
        <tbody>
          {% for p in frasi_p%}
          <tr>
            <td>{{p.code}}</td>
            <td colspan="3">{{p.description}}</td>
            <td class="p-0">
              <button class="btn" style="padding:0; color:blue;"> <a href="item/{{p.id}}/p_update" class="text-secondary"><div class="mt-2 pt-1 mr-1 ml-2">
                <span class="material-icons">create</span></div>
              </a></button>
            </td>
            <td class="p-0">
              <form action="{% url 'delete_p' pk=p.id %}" method="POST">
                {% csrf_token %}
                <button class="btn" type="submit" style="padding:0; color:red;"><div class="mt-2 pt-1 mr-1 ml-2">
                <span class="material-icons">delete</span></div></button>

            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>

  </div>



</div>



{% endblock content %}
